name: Deploy (pnpm)

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_FRONT: ghcr.io/${{ github.repository_owner }}/versioning-demo-front
  IMAGE_BACK: ghcr.io/${{ github.repository_owner }}/versioning-demo-back
  VERSION: ${{ github.event.release.tag_name }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build & push backend (pnpm)
        uses: docker/build-push-action@v6
        with:
          context: ./back
          push: true
          tags: |
            ${{ env.IMAGE_BACK }}:latest
            ${{ env.IMAGE_BACK }}:${{ env.VERSION }}

      - name: Build & push frontend (pnpm)
        uses: docker/build-push-action@v6
        with:
          context: ./front
          push: true
          tags: |
            ${{ env.IMAGE_FRONT }}:latest
            ${{ env.IMAGE_FRONT }}:${{ env.VERSION }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    environment: production # <= idem ici
    steps:
      - name: Copy docker-compose to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "deploy/docker-compose.yml"
          target: "/opt/versioning-demo"

      - name: SSH deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            mkdir -p /opt/versioning-demo/env
            docker login ghcr.io -u ${{ github.repository_owner }} -p ${{ secrets.GHCR_TOKEN }}
            docker compose -f /opt/versioning-demo/docker-compose.yml pull
            docker compose -f /opt/versioning-demo/docker-compose.yml up -d --remove-orphans
