name: Test SSH
on: workflow_dispatch

jobs:
  ping:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: SSH check hostname
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            hostname && uptime && docker --version
